<div class="video-container">
    <video
        width="{{ width | default(value=640) }}"
        height="{{ height | default(value=360) }}"
        controls
        {% if autoplay %}autoplay{% endif %}
        {% if loop %}loop{% endif %}
    >
        {# webm #}
        {% if webm %}
            <source src="{{ get_url(path=webm) }}" type="video/webm">
        {% endif %}

        {# mp4 #}
        {% if mp4 %}
            <source src="{{ get_url(path=mp4) }}" type="video/mp4">
        {% endif %}
    </video>
</div>
