/* Feel free to use the css but its pretty ugly. You have been warned! */

@font-face {
  font-family: "Paradise";
  src: url("fonts/Paradise\ Island.otf");
}

@font-face {
  font-family: "Nexus";
  src: url("fonts/Nexus-ZV54m.ttf");
}

.top-right-gif {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
}

.left-gif {
  position: fixed;
  top: 300px;
  left: 200px;
  width: 200px;
}

.right-gif {
  position: fixed;
  top: 300px;
  right: 200px;
  width: 200px;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  text-align: center;
  font-size: 80px;
  font-family: "Paradise";
  margin: 20px;
}

.blog-header {
  text-align: center;
  font-size: 70px;
  margin: 20px;
  font-family: 'Paradise';
}

.navbar {
  font-size: 40px;
  text-align: center;
  word-spacing: 10px;
  font-family: "Paradise";
}

.navbar a {
  text-decoration: none;
  color: rgb(174, 106, 238);
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: rgb(94, 27, 156);
}

.home-navbar a {
  font-family: "Paradise";
  font-size:30px;
  text-decoration: none;
  color: rgb(174, 106, 238);
  transition: color 0.3s ease;
}

.home-navbar a:hover {
  color: rgb(94, 27, 156);
}

.blog-nav {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Sans';
}

.blog-nav a {
  text-decoration: none;
}

.blog-nav ul {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
}

.blog-subhead {
  text-align: left;
  font-size: 30px;
  margin: 20px;
}

.date {
  font-size: 14px;
  text-decoration: none;
}

.blog {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Sans';
}

.blog-title {
  text-align: center;
  font-size: 35px;
  margin: 30px;
}

.subtitle {
  font-size: 14px;
}

.back-to-top {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.quote {
  font-style: italic;
}

.palm-tree {
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
}

.palm-tree-nav {
  height: 40px;
  clip-path: inset(1px 1px 1px 1px); 
}

.contact h1 {
  font-family: 'Sans';
}

.contact img{
  width: 100px;
  border-radius: 50%;
  padding: 20px;
}