@font-face {
  font-family: "Nexus";
  src: url("fonts/Nexus-ZV54m.ttf");
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  text-align: center;
  font-size: 80px;
  font-family: "Nexus";
  margin: 20px;
}

.blog-title {
  text-align: center;
  font-size: 50px;
  margin: 20px;
}

.navbar {
  text-align: center;
  word-spacing: 10px;
  font-weight: bold;
  font-family: "Nexus";
}

.navbar a {
  text-decoration: none;
}

.blog-nav {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.blog-nav a {
  text-decoration: none;
}

.blog-nav ul {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
}

.blog-subhead {
  text-align: left;
  font-size: 30px;
  margin: 20px;
}

.date {
  font-size: 14px;
  text-decoration: none;
}

.blog {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}