<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="{{ get_url(path='images/favicon.ico') }}"/>
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  <script src="{{ get_url(path='script.js') }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %}
  <title>TuxTower</title>
  <meta name="description" content="Welcome to TuxTower, the personal website of Adam Wyatt. This is the place where I share my thoughts, experiences, and adventures with you. I am a Computer Science graduate trying to get somewhere in the world.">
	
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
