{% extends "base.html" %}

{% block content %}
<div class="blog">

  <h1 class="blog-header">
    TuxTower's Blog
  </h1>
  <hr>
  <div class="navbar">
    <a href="{{ get_url(path='/') }}">home</a> |
    <a href="{{ get_url(path='@/blog/_index.md') }}">blog</a> |
    <a href="https://youtube.com/c/jamesscholz">youtube</a> |
    <a href="https://drive.google.com/file/d/17CnAyDkTUckt3jNoQjzsUmVlzP1jdp6t/view?usp=sharing">resume</a> |
    <a href="https://tuxtower.net/contact.html">contact</a>
  </div>
  <hr>
  <div class="blog-content">
    <h1 class="blog-title">
      {{ page.title }}
    </h1>
    <p class="subtitle"><strong>{{ page.date }}</strong></p>
    {{ page.content | safe }}
    <hr>
    <a href="#" class="back-to-top">Back to top.</a>
    {% endblock content %}
  </div>
</div>
