{% extends "base.html" %}

{% block content %}
<div class="blog">

  <h1 class="blog-header">
    TuxTower's Blog
  </h1>
  <hr>
        <div class="navbar">
            <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="{{ get_url(path='/') }}">home</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="{{ get_url(path='@/blog/_index.md') }}">blog</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="https://github.com/Ay1tsMe">github</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="{{ get_url(path='@/guitar.md') }}">guitar</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="{{ get_url(path='@/contact.md') }}">contact</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
        </div>
  <hr>
  <div class="blog-content">
    <h1 class="blog-title">
      {{ page.title }}
    </h1>
    <div class="blog-meta">
      <p class="subtitle"><strong>{{ page.date }} -
        {% for author in page.authors %}
          {{ author }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        </strong></p>
      <p class="reading-time"><strong>Reading time: {{ page.reading_time }} minutes</strong></p>
    </div>

    {% if page.toc %}
    <div class="toc">
      <h2>Table of Contents</h2>
        <ul>
        {% for h1 in page.toc %}
          <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            {% if h2.children %}
                                <ul>
                                    {% for h3 in h2.children %}
                                        <li>
                                            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    <br>

    {{ page.content | safe }}
    <hr>
    <div class="back-to-top-container">
      <a href="#" class="back-to-top">Back to top</a>
    </div>
  </div>
  <footer>
    <div class="footer">
      <a href="{{ get_url(path='rss.xml') }}">
        <img src="{{ get_url(path='images/rss.svg') }}" alt="rss">
      </a>
    </div>
  </footer>
  {% endblock content %}
</div>
