{% extends "base.html" %}

{% block content %}
<div class="blog-nav">

  <h1 class="blog-header">
    {{ section.title }}
  </h1>
  <hr>
        <div class="navbar">
            <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="{{ get_url(path='/') }}">home</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="{{ get_url(path='@/blog/_index.md') }}">blog</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="https://github.com/Ay1tsMe">github</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="{{ get_url(path='@/guitar.md') }}">guitar</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
            <a href="{{ get_url(path='@/contact.md') }}">contact</a> <img src="{{ get_url(path='images/palm2.png') }}" alt="" class="palm-tree">
        </div>
  <hr>
  <h2 class="blog-subhead">
    List of Blog Posts
  </h2>
  <ul>
    {% for page in section.pages %}
    <li>[<span class="date">{{ page.date }}</span>] <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
  <hr>
  <footer>
    <div class="footer">
      <a href="{{ get_url(path='rss.xml') }}">
        <img src="{{ get_url(path='images/rss.svg') }}" alt="rss">
      </a>
    </div>
  </footer>
  {% endblock content %}
</div>
